doctype html
html
    head
        title Andy WoWhol
        link(rel="stylesheet", href="/css/main.css")
    body
        h1.site-header
            a.site-header-link(href="/") Andy WoWhol
        block body-content
